
@model IEnumerable<MyTwitter.Models.Tweet>
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="~/Content/Notification.css" rel="stylesheet" />


</head>


@foreach (var item in Model)
{
    <div class="box">
        <div class="notifications">
            <i class="fa fa-bell"></i>
            <span class="num">@Model.Where(k => k.Id == item.Id).Count()</span>
            <ul>
                <li class="icon">
                    <span class="icon"><i class="fa fa-user"></i></span>
                    <span class="text">@item.UserName kullanıcısı @item.Body tweet'ini paylaştı.</span>
                </li>

            </ul>
        </div>
    </div>
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



